.wrapper {
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: #101820;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;

    @media screen and (max-width: 460px) {
        display: none;
    }
}

.dots {
    width: 4px;
    height: 4px;
    animation: ani 1s forwards;
    background-color: #fff;
    border-radius: 50%;
}

.close {
    display: flex;
    animation: ani 1s forwards;
}

.expanded {
    position: absolute;
    right: -50%;
    bottom: 120px;
    width: 180px;
    padding: 10px;
    animation: ani 1s forwards;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 12px 19px 56px 2px rgba(34, 60, 80, 0.2);
    font-size: 20px;
    line-height: 26px;
    transition: transform 0.5s ease-in;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

.expanding-button__title {
    font-size: 18px;
}
